:root{
    --colorPrim:rgb(229, 237, 254);
    --colorSec:rgb(81, 131, 247);
    --colorThr:rgb(11, 11, 50);

}

body{
    background-color: rgb(30, 51, 114);
}



/* Create */ 

form{
   padding: 2px;

}

main h1{
    margin: 18px 0 6px 24px;
    font-family: arial;
    color: aliceblue;
}


.cblock{
background-color: rgb(19, 19, 72);
border: 2px solid rgb(168, 171, 174, 0.3);
border-radius: 10px;

width: 90%;

margin: 0 auto;
padding: 12px;
}


.cblock label, .imgblock label{
    display: block;

    font-family: arial;
    font-size: 20px;
    color: aliceblue;

    margin:10px 2px 1px 4px;
}




.cblock input[type="text"], select, textarea{
    background-color: aliceblue;
      border: 2px solid gray;
    border-radius: 4px;
 
      font-family: arial;
      font-size: 18px;
    height: 26px;

}

.cblock input[type="text"]{
    width: 90%;
}

.cblock select{
    font-weight: bold;
    display: inline;
    width: 48%;
    height: 32px;
    margin: 6px 0;
}

.cblock textarea{
    min-height: 128px;
    width: 90%;
    
}




.visibt{
    width: 90%;
    display: flex;
    margin: 0 auto;

    gap:20px;
}
.visibt label{
    
    text-align: center;

    background-color: aliceblue;
    border: 3px solid darkgray;
    border-radius: 4px;
    color: black;

    padding: 2px 6px;
    width: 50%;
}

.visibt input[type="radio"]:checked + label{
    background-color: var(--colorSec);
    border-color:var(--colorSec);
    color: aliceblue;
    font-weight: bold;
}
.visibt input {
display: none;
}

p{
    color: rgb(193, 62, 62);
}


.botoes-form{
    width: 100%;
    margin: 36px 0 20px 0;
    display: flex;
    justify-content: center;
    gap:20px
    

}
.botoes-form button{
font-size: 22px;
font-family: 'Times New Roman', Times, serif;
color: aliceblue;

background-color: rgb(81, 131, 247);
border: 3px solid   rgb(30, 51, 114);
border-radius: 18px;
padding: 8px 40px;
}










.imgblock{
display: none;

background-color: rgb(19, 19, 72);
border: 2px solid rgb(168, 171, 174, 0.3);
border-radius: 10px;
color: aliceblue;

width: 320px;
height:280px;

margin: 0 0 0 400px;
padding: 8px 12px;
    
}

@media (min-width: 800px){
    form{
        display: flex;
        margin: 12px 0;
    }

    .mbimg{
        display: none;
    }
    .imgblock{
        display: block;
        margin: 0 16px;
    }

    .cblock{
        margin: 0 16px;
        width: 70%;
        height: auto;
        padding: 8px 12px;
    }
    .cblock input{
        margin-bottom: 14px;
    }

    .cblock select{
        display: block;
        margin: 6px 0;
    
    }


    .visibt{
        margin: 0;
        gap: 12px;
    }
    .visibt label{
        margin: 2px;
        width: 96px;
    }


    .botoes-form{
        width: 50%;
        margin-top: 120px;
        display: block;
        justify-self: end;
        text-align: end;
    }

    .botoes-form button{
        margin: 0 0 0 10px;
    }


}