
body{
    background-color: rgba(59, 127, 190, 0.944);
 
}




/* Buttons (Mobile Header) */

.mbbt1{
    display: inline-flex;
    align-items: center;
    
    gap: 20px;

    height: 40px;
    width: 100%;

}

.mbbt1 button{
    width: 36px;
    height: 32px;
    padding: auto;


    border: 3px solid rgb(7, 12, 36, 0.2);
    border-radius: 10px;

    color: aliceblue;
    font-size: 18px;

    background-color: rgb(49, 47, 63, 30%);
}

.mbbt1 a{
       
        margin-left: auto;
        padding: 2px 10px;

        border: 3px solid rgb(7, 12, 36, 0.2);
        border-radius: 10px;
        background-color: rgb(49, 47, 63, 10%);

        font-size: 20px;
        color: aliceblue;
        text-decoration: none;
        align-self: center;
   
}



/* Area de Escrita */

textarea{
    
    display: block;
    width: 326px;
    height: 500px;
    margin: 10px auto;    
    padding: 12px;
    outline: none;

    border: 2px solid rgb(224, 224, 224);
    border-radius: 10px;
    line-height:32px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;

}


/*  Mudar Fonte  */
.mbbt2{
    display: flex;
    width: fit-content;
    height:10px;
    margin: 0 auto;
  


}

.mbbt2 label{
    margin: 2px;
display: inline;
color: white;
font-size: 14px;
font-family: arial;

}
.mbbt2 input{
   color: aliceblue;
    background-color: rgba(206, 203, 226, 0.3);
    border: 3px solid rgb(49, 47, 63, 30%);
    border-radius: 10px;
    width: 24px;
    height: 12px;
    
}





/* Bar Mobile */

.bar {
    display: none;
    position: fixed;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 86%;
    height: 80%;
    padding: 10px;

    background-color: rgb(28, 29, 63);
    border: 3px solid rgb(52, 52, 132);
    border-radius: 13px;

}


.bar .fecha, .bar a{
        display: block; 
      
        text-decoration: none;
        text-align: center;
        font-weight: bold;

        border: 3px solid rgb(7, 12, 36);
        border-radius: 10px;
        background-color: rgba(0, 123, 255);

        font-size: 24px;
        color: black;

        width: 30px;
        height: 30px;

        margin: 0 0 0 auto;
}
.bar a{display: none;}





.bar textarea {
    width: 90%;
    height: 80px;
    line-height: 18px;
    font-size: 14px;
    margin: 2px 0 24px 0;
}






.img{
    width: 100px;
    height: 120px;
    background-color: aquamarine;
    margin: 0;
}
input[type="file"]{
    color: aliceblue;
   margin-bottom: 32px;
   font-size: 9px;
}


.bar select{
    display: block;
      width: 60%;
      margin: 2px 0 24px 0;
      font-size: 20px;
}

.bar h2{
   margin: 0;
    color: aliceblue;

    font-family: arial;
    font-weight: normal;
    font-size: 22px;
    text-align: left;
}


.visibt{  display: flex;
    margin:2px 0 10px 0; 
    gap:10px;}
.visibt label{
    margin: 0;
    padding: 2px 8px;
    text-align: center;
    background-color: aliceblue;
    border: 1px solid darkgray;
    border-radius: 2px;
color: black;
font-size: 20px;
font-family: arial;
font-weight: normal;
}
.visibt input[type="radio"]:checked + label{
    background-color: rgba(0, 123, 255);
    border-color:rgb(24, 52, 155);
    color: aliceblue;
}
.visibt input[type="radio"]{
    display: none;
}

.bar .svv{ 
    display: block;
    margin: 24px 2px ;
    padding: 4px 50px;
    color: aliceblue;
    background-color: rgb(20, 60, 155);
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    
    border-radius: 10px;
    border: none;
    
}


.wbbt{
    display: none;
}





@media (min-width: 800px){
body, html {margin: 0; padding: 0;}
/* Bar Web */
.wbbt{display: block;}

.bar {
    display: block;
    border-radius: 0;
    top: 0;
    left: -232px;
    transform: none;
    width: 220px;
    height: 100%;
    padding: 12px 18px 12px 12px;
    margin: 0;
    transition: left 400ms;
}

.bar:hover {
    left: 0;
}

h2{
    display: block;
}

.img{
     width: 112px;
    height: 124px;
}

.bar h2{  font-size: 18px;}
.bar a{display: block; width: 12px; margin-bottom: 36px;}

.bar select{
    font-size: 14px;
     margin: 2px 0 16px 0;
}
.visibt label{font-size: 14px;}

.mbbt1, .mbbt2 {display: none;}


.mbbt1 label, .mbbt2 label {display: none;}

textarea{font-size: 18px; line-height: 16px; }


.bar a{
    margin: 6px 0;
    width: 30px;
    height: 30px;
}
.bar .fecha{display: none;}


}











/* Reading Info Mobile */

.fsec{
    display: flex;
    height: 110px;
}

.rinfo{
    width: 64%;
    height: 100%;
    padding: 6px;

    display: flex;
    flex-direction: column;
}



.rinfo h2{
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: aliceblue;
    margin: 0;
}
.rinfo .dw {
    display: flex;
    margin-top: auto;
    align-items: end;

}

.rinfo h3{
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
    margin: 0;
}
.rinfo button{ 
    width: 28px;
    height: 28px;
    margin:0 0 0 auto;
    border: 2px solid gray;
    border-radius:10px;
    background-color: rgba(222, 225, 228, 0.4);
   
}




.rdesc{
    width: 80%;
    min-height:100px ;
    margin: 24px 0;
    background-color: rgb(53, 68, 143);
    border:3px solid rgb(28, 29, 40) ;


    /* texto */
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    color: aliceblue;
}




@media (min-width: 800px){
    .rdesc{
        padding: 16px;
    }



}