
body{margin: 0;}


header{  
position: fixed;
display: flex;
height: 72px;
width: 100%;
padding: 0 16px;

align-content: center;

background-color: rgb(19, 19, 72);
border-bottom: 3px solid rgb(151, 152, 189);
z-index: 5;

}

header img{
width: 48px;
height: 48px;
margin: auto 0;
}




/* Buttons */
header .bup{
 display: flex;

 gap: 12px;
margin: auto 0 auto auto;
 height: 32px;
}
header a{
    color: black;
    background-color: aliceblue;
    text-decoration: none;
    padding: 8px;
    margin: auto 0;
    border-radius: 54px;

}


/* Mobile Menu */

#menubutton{
    align-self: center;
    width: 54px;
    height:48px;
    margin: 0 44px 0 0;
}

.menugrid{
    position: fixed;
    display: none;
    z-index: 7;
    
padding-top: 128px;

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.608);

    backdrop-filter: blur(2px);
}

.gridsec{
    display: grid;
     grid-template-columns: repeat(2, 1fr);
    gap: 32px 0;
}

.menugrid a{
    margin: 0 8%;
    text-decoration: none;
    font-size: 36px;
    color: aliceblue;
}
.menugrid .gridcard{
    width: 100%;
    height: 100px;
   background-color: rgb(23, 146, 187);

    border-radius: 24px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#menuclose{ 
   width: 48px; 
   height: 48px;

   font-size: 24px;
   margin: 16px;
}



/* Main Padding */
main{
    padding-top: 72px;
    padding-bottom: 0;
    padding-right: 0;
}

@media (min-width: 800px)
{   
            header{height: 96px;}
            header img{
        width: 64px;
        height: 64px;
        }
        header .bup button,  .menugrid{
            display: none;
        }



        main{
            box-sizing: border-box;
            width: 100%;
        padding-top: 96px;
          
    }



}
