
body{margin: 0;}


header{  
position: fixed;
display: flex;
height: 72px;
width: 100%;
padding: 0 16px;

align-content: center;

background-color: rgb(19, 19, 72);
border-bottom: 3px solid rgb(151, 152, 189);
z-index: 5;

}

/* Logo */
.logobox{
    display: flex;
    align-items:center;
    width: auto;
    height: 64%;

    margin: auto 0;

}

#feather{
width: 48px;
height: 100%;
margin: 0 -4px;
}
#stanzalogo{
    width: 128px;
    height: 80%;
    margin: 4px 0 0 0 ;

}


/* Buttons */
header .bup{
 display: flex;

 gap: 12px;
margin: auto 0 auto auto;
 height: 32px;
}
header a{
    color: black;
    background-color: aliceblue;
    text-decoration: none;
    padding: 8px;
    margin: auto 0;
    border-radius: 54px;

}


/* Mobile Menu */


.menugrid{
    position: fixed;
    display: none;
    z-index: 7;
    
padding-top: 128px;

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.608);

    backdrop-filter: blur(2px);
}

.gridsec{
    display: grid;
     grid-template-columns: repeat(2, 1fr);
    gap: 32px 0;
}

.menugrid a{
    margin: 0 8%;
    text-decoration: none;
    font-size: 36px;
    color: aliceblue;
}
.menugrid .gridcard{
    width: 100%;
    height: 100px;
   background-color: rgb(23, 146, 187);

    border-radius: 24px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#menubutton{
    font-size: 32px;
    color: aliceblue;
    font-weight: bolder;
    align-self: center;
    width: 32px;
    height:48px;
    background:none;
    border: none;
    margin: 0 44px 0 0;
}


#menuclose{ 
    background-color: rgba(240, 248, 255, 0.5);
    border: 2px solid gray;
    border-radius: 4px;
    font-weight: bold;
    color: aliceblue;

   width: 48px; 
   height: 48px;

   font-size: 24px;
   margin: 16px;
}



/* Main Padding */
main{
    padding-top: 72px;
    padding-bottom: 0;
    padding-right: 0;
}

@media (min-width: 800px)
{   
    header{height: 96px;}

    #feather {
    width: 48px;
    height: 48px;
    }
    #stanzalogo{
    width: 132px;
    height: 36px;
    }

    header .bup button,  .menugrid{
    display: none;
    }



    main{
    box-sizing: border-box;
    width: 100%;
    padding-top: 96px;

    }



}
