body{
background: var(--primary);
margin: 0;
}



/* Mobile Search */

.search{
    width: auto;
    margin: 16px 10px;
}

input[type="search"]{
    width: 82%;
    height: 32px;
    padding: 0 8px;
    border: 2px solid var(--tertiary);
    border-radius: 18px;
}

button[type="submit"]{
    
      height: 32px;
      font-size: 14px;
    color: aliceblue;
      background-color:  var(--tertiary);
    border: 0px;
    border-radius: 4px;
}





/* Slideable Bar */

h1{
    margin: 4px 0 4px 18px;
    font-size: 16px;
    font-weight: 100;
    color: var(--deep);
}

.carousel{
    max-width: 100%;
    margin: 2px 12px 24px 12px;

    display: flex;
    gap: 8px;

    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior:smooth;
}




/* Categories Section (Fast Access) */

.card{
display: flex;
align-items: center;

height: 24px;
width: 90%;
margin: 10px auto;
padding: 10px;

border: 2px solid rgba(0, 0, 0, 0.2);
border-style: inset;
border-radius: 10px;
background-color:brown;


}
.card h1, a{color: var(--light);}

.card a{
margin: 0 0 0 auto;
background-color: var(--dark);
opacity: 24%;
width: 50%;
padding:10px;

border: 3px solid rgba(0, 0, 0, 0.45);
border-radius: 10px;

text-align: end;
text-decoration: none;
}
.card a:hover{opacity: 60%;transition: 400ms;}




/* STANZAI Section */

.Bsection{
    padding: 12px 0;
    margin: 24px 0;
    background: var(--secondary);
}

.Bsection .info a{
    color: var(--light);
}

.Bsection p {
     color: var(--light);
    margin: 6px 14px;
    font-size: 22px;
    font-weight: bold;
}
.Bsection h1{font-style: italic; color: var(--medium); }
.Bsection .info button{
    color: var(--light);
}





@media (min-width: 800px)
{   
h1{
    font-size: 20px;
}

.Csection{
    display: flex;
    margin: 0px 6px;
}
.card{
    margin: 12px 6px;
    width: 30%;
    height: 48px;
}
.card h1{margin-top: 4px;}

.Bsection p{
    font-size: 32px;
    margin: 6px 0 20px 20px;
}



}