
/* Post blocks */


section{  
   display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
}

.post{
background-color: rgba(235, 235, 235, 10%);
border:solid 3px rgba(193, 188, 188, 0.32);
border-radius: 10px;

height: 104px;
width: 160px;

display: flex;
 flex: 0 0 auto;
}

.post .img {
    position: relative;
   width: 38%;
    height: 92%;
    align-content: center;
    margin: 3.2px;
    

}
.post .img img{
max-width: 100%;
max-height: 100%;
border-radius: 10px;
}

.post .info{
    width: 55%;
    height: 98%;
    margin: 0 0 0 1px;
    display: flex;
    flex-direction: column;
    
}

.post a{    
    font-weight: 500;
    font-size: 14px; 
    text-decoration: none;

    color:var(--dark); 
    word-break: break-word;

    overflow:hidden;
   
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
 
    margin: 8px 0 0 0;
    padding: 0;
}

.post h2, .post h3
{font-size: 12px; color: var(--deep); }
.post h2{margin: 0 0 4px 0;}
.post h3{ margin:0;}

/* Save Button */
.postfooter{
    margin-top: auto;
    display: flex;
    align-items: center;
    width: 98%;
 
}
.post .info button{
    width: 20px;
    height: 22px;
    margin: 2px 0 0 auto;
   padding: 0;
    font-size: 14px;

  background-color: rgba(235, 235, 235, 10%);
border:solid 2px rgba(164, 163, 163, 0.2);
border-radius: 8px;
}




@media (min-width: 800px)
{   
.post{
    width:200px;
    height: 112px;
    margin-bottom: 2px;
}
.post .info{
    margin:0;
}

.post .info button{
    width: 24px;
    height: 26px;
}

.post .img{
    width: 38%;
    margin: 4px;
}

.post a{ 
    font-size:16px;
    text-align: start;
}
.post h2{
    font-size: 14px;
    font-weight: 300 ;
    margin: 1px 0 0 2px;}
}