
body{

background-color: var(--primary);
}

/* Top bar */

.topbar{

    width: 100%;
    height: 144px;
    margin: 0;
 
    background:var(--backblue);
align-content: center;
}

.pfp{
    width: 64px;
    height: 64px;
    background-color: aquamarine;
    border-radius: 100%;
}

.topinf{
    display: flex;
    align-items: center;
    margin: 8px 12px;
    height: 50%;
}

.userinfo{
margin: 0 12px;
color: var(--light);
}
.userinfo h1, .userinfo h2{
    margin: 0;
    font-weight:100;
}
.userinfo h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
.userinfo h2{
    font-family: sans-serif;
    font-size: 12px;

}



/* Lower data */


.botinf{
    color: var(--light);
    display: flex;
   
    gap: 6px;
   
     margin: 0 0 8px 16px;
      height: 24%;
}
.nbinfo{
width: 20%;
}
.nbinfo span, .nbinfo p{
    display: block;
    margin: 0;
    font-family: sans-serif;
    font-style: italic;
    font-size: 12px;
}
.nbinfo span{
    font-weight: bold;
    font-size: 14px;
}



/* posts groups */

.pgroup{
    margin: 0 6px;
}

.pgroup h1{
    font-size: 20px;
    font-style: italic;
    margin: 8px 0 4px 4px;
    color: var(--deep);

    border-bottom: solid 2px var(--medium);
    width: 64%;
}





@media (min-width: 800px){

    .topbar{
        height: 160px;
    }

    .topinf{
        height: 64%;
    }
    .botinf{
        width:54%;
        height: 12%;
        gap: 4px;
    }



    .pfp{
        width: 76px;
        height: 76px;
    }

    .userinfo h1{
        font-size: 28px;
    }
    .userinfo h2{
        font-size: 16px;
          margin: 4px 0;
    }

    .nbinfo{width: 104px;}
    .nbinfo span, .nbinfo p{
        display: inline;
    }


    
.pgroup h1{
    font-size: 24px;
}

}


