/* Settings */

body{
   background: linear-gradient(180deg,rgba(235, 243, 255, 1) 0%, rgba(247, 255, 254, 1) 46%, rgba(235, 239, 255, 1) 100%);
}




h1{
    font-size: 24px;
    font-style: italic;
    margin: 24px 0 0 12px ;
    color: rgb(24, 72, 155);
}

.stsbox, .stsbox1{
    width: 96%;
    height: 72px;
    padding: 6px;
    margin:6px auto;

    background-color: rgba(172, 205, 205, 0.135);
    border: 3px solid rgb(24, 72, 155, 0.25);;
    border-radius: 8px;
}

.stsbox h2 ,.stsbox1 h2{
    font-style: italic;
    font-size: 22px;
    font-weight: 100;

    margin: 0 0 12px 8px ;

    color: rgb(85, 85, 85);


}

.stsbox1 h2{margin-bottom: 6px;}
.stsbox1 label{
    font-family: arial;
    font-size: 20px;
    margin-left: 10px;

}



/* Select Buttons (Theme/Language) */

.rdbt label, .rdbt a{
    font-family: arial;
    text-align: center;
    text-decoration: none;
    font-size: 16px ;


    color: black;
    background-color: aliceblue;
    border: 3px solid darkgray;
    border-radius: 14px;

    padding: 4px 20px;    
   margin: 4px;
}

.rdbt input[type="radio"]:checked + label, 
.rdbt a[aria-current="true"] {

    background-color: rgb(14, 124, 221) ;
    border-color:rgb(24, 72, 155);
    color: aliceblue;
   
}


.rdbt input {
display: none;
}


/* (Range Button - ReadingFontSize) */ 
 input[type="range"]{
    appearance: none;
    width: 90%;
    height: 12px;
    margin: 0;

    background-color:rgb(210, 207, 207);
    border: 3px solid gray;
    border-radius: 10px;
 }


/* COLUMNS (INFO - BUTTON) */
.stsinfo {
    width:80%;
}
.stsbox1{display: flex;}
.stsbox1 button{
    width: 20%;
    height: 72%;
    align-self: center;
    background-color: aliceblue;
    border: 3px solid darkgray;
    border-radius: 20px;
    font-size: 24px;
   margin-left: auto;
}
.stsbox1 button:hover{
    background-color: rgb(230, 226, 226);
}




/* Profile Picture Model */
.stpic{
background-color:green;
width: 54px;
height: 54px;
border-radius: 100%;
margin: auto 0;
}




/* Bottom Buttons*/
.footbuttons{
    display: flex;
    width: 100%;
    justify-content: center;
}

.dlbt, .lvbt{
    
    margin: 30px 12px;
    width: 42%;
    height: 54px;
    font-size: 20px;
    font-weight:bold;
    border: 3px solid gray;
    border-radius: 24px;
background-color: rgb(224, 221, 221);


}

.lvbt a{text-decoration: none;
    color: rgb(83, 63, 63);}

.dlbt{
    background-color: aliceblue;
    border-color:rgb(148, 17, 17);
    color: rgb(148, 17, 17);
    
}







@media (min-width: 800px)
{
.settingsec{ 
    margin: 6px 12px;
    border-left: 4px solid lightgray;
    border-radius: 6px;
}

h1{
    margin: 16px 0 0 18px ;
}
.stsbox h2, .stsbox1 h2{
    font-size: 18px
}
.stsbox h2{margin: 0 0 12px 0;}
.stsbox1 h2{margin: 0 0 4px 0;}


.stsbox, .stsbox1{
    width: 64%;
    height: 60px;
padding: 8px 12px;
    margin:12px;
}



.stsbox1 label{
    font-size: 16px;
    margin: 0 2px;
}

.stsbox1 button{
    font-size: 18px;
    border-radius: 4px;
    min-width: 64px;
    width: 10%;
}

.footbuttons{
  justify-content: left;
  width: 32%;
  margin: 0 12px;
}
.dlbt, .lvbt{
    font-size: 18px;
    min-width: 160px;
    width: 100%;
    height: 48px;
    margin: 28px 8px;
}





}